<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some issues occured! </h1>
    <p>We re trying to fix it.Sorry for inconvenience!</p>

<%- include('includes/end.ejs') %>